.login__input__container {
  text-align: center;
  max-width: 50rem;
  margin: 8rem auto;
  /* margin-bottom: 0; */
}

.login__form__container {
  border-radius: 1rem;
  border: 1px black solid;
  margin: 1rem;
  padding: 1.3rem 1rem;

  background: -moz-linear-gradient(
    180deg,
    rgb(94, 62, 121) 64%,
    rgba(8, 211, 195, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    180deg,
    rgba(137, 44, 220, 1) 64%,
    rgba(8, 211, 195, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    180deg,
    rgba(137, 44, 220, 1) 64%,
    rgba(8, 211, 195, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#892CDC', endColorstr='#08D3C3', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    180deg,
    rgba(137, 44, 220, 1) 64%,
    rgba(8, 211, 195, 1) 100%
  );
  /* rgba(137, 44, 220, 1) 64%, */
  /* global 94%+ browsers support */
  background: linear-gradient(
    180deg,
    rgb(170, 73, 255) 64%,
    rgb(80, 200, 209) 100%
  );
}

.input__form__div {
  /* background-color: red; */
  padding: 0.5rem;
  position: relative;

  /* font-size: 1rem; */
  /* font-weight: 600; */
  /* outline: none; */
  /* letter-spacing: 0.4px; */
}

.form__input {
  width: 80%;
  margin-top: 1.2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  letter-spacing: 0.4px;
  padding: 0.4rem 1rem;
}

.submit__button {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  margin-top: 1.4rem;
  background-color: rgb(68, 118, 255);
  color: white;
  outline: none;
}

.submit__button:hover {
  background-color: rgb(40, 96, 252);
  color: black;
}

.signup__container {
  margin-top: 4rem;
}

.signup__button {
  background-color: rgb(109, 30, 182);
  padding: 0.8rem 1.4rem;
  font-size: 1.3rem;
  margin-left: 1rem;
  text-decoration: none;
  color: white;
  border-radius: 0.8rem;
}

.signup__button:hover {
  background-color: rgb(99, 6, 186);
}

.input__error {
  padding: 0;
  margin: 0;
  color: rgba(243, 0, 0, 0.849);
  font-size: 1.1rem;
  font-weight: 500;
  bottom: -1.5rem;
  left: 13%;
  bottom: -1rem;
  position: absolute;
}
