.list__container {
  padding-top: 6rem;
  background-color: white;

  border: 1px solid red;
  height: 100vh;
  position: relative;
  text-align: center;
}

.curve__up {
}

.curve__down {
  position: absolute;
  bottom: 0;
}
